*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 1000px;
    position: relative;
}
.nav{
    background-color: white;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    top: 0;
    box-shadow: 0px 1px 10px black;
}
.logo{
    padding-top: 20px;
    padding-left: 20px;
    height: 80%;
}
#tedlogo{
    width: 300px;
}
.link{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    padding-left: 150px;
}
.toggle-link{
    display: none;
    position: fixed;
    top: 110px;
    left: 0;
    position: absolute;
    background-color: white;
    padding: 10px;
    width: 60vw;
    height: 100vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.list{
    list-style: none;
    text-align: center;
    padding: 10px;
    border-bottom:1px #c7c7c7 solid;
}
.list:hover{
    background-color: #ddd;
}
.listlink{
    list-style: none;
    text-align: center;
    padding: 10px;
    border-bottom:1px #c7c7c7 solid;
}
.drop-down-toggle{
    display: none;
}
.listdrop:hover{
    background-color: #ddd;
}
.listdrop{
    list-style: none;
    text-align: center;
    border-bottom:1px #c7c7c7 solid;   
    padding: 5px;
}
.listdroplink{
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    display: flex;
    flex-direction:row;
}
#tab{
    text-decoration: none;
    padding-right: 40px;
    color: red;
    font-family: 'Inter', sans-serif;
}
#tab:hover{
    color:black;
}
#tablink{
    text-decoration: none;
    color: red;
    font-family: 'Inter', sans-serif;
}
#tablink:hover{
    color:black;
}
.drop-down{
    width: 110px;
    height: 20px;
    margin-right: 40px;
    overflow: hidden;
    display: inline-block;
}
.drop-down:hover .drop-box{
    display: block;
    transition-duration: 5s;

}
#drop{
    text-decoration: none;
    color: red;
    font-family: 'Inter', sans-serif;
}
#droplink{
    text-decoration: none;
    color: red;
    font-family: 'Inter', sans-serif;
}
#droplink:hover{
    color: black;
}
.drop-box{
    display: none;
    position: absolute;
    background-color: white;
    width: 100px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#drop:hover{
    color: black;
}
.year{
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}
.droptab{
    padding-top: 5px;
    padding-left: 5px;
    width: 50px;
}
.droptab:hover{
    background-color: #ddd;
}
#atab{
    text-decoration: none;
    color: red;
    font-family:'Inter', sans-serif;
    margin-bottom: 10px;
}
#atab:hover{
    color: black;
}
.alink{
    padding-top: 5px;
    padding-left: 5px;
    width: 50px;
}
#alink{
    text-decoration: none;
    color: red;
    font-family:'Inter', sans-serif;
}
#alink:hover{
    color: black;
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
}
#toggle-button{
    /* padding: .rem; */
    background-color:#ddd;
    border: none;
    text-align: center;
    text-decoration: none;
}

@media only screen and (min-width: 1050px) {
    .toggle-menu{
        display: none;
    }
  }
@media only screen and (max-width: 1050px) {
    .link{
        display: none;
    }
    .nav{
        text-align: center;
    }
    .toggle-menu{
        height: 2.6rem;
        position: relative;
        top: 30%;
        margin-left: 2rem;
        padding: 10px;
        background-color:white;
        border-radius: 5px;
        border:#c7c7c7;
        border-width: 1px;
        border-style: solid;
    }
    .toggle-menu:hover{
        background-color: #ddd;
    }
    .logo{
        padding-left: 80px;
    }
    
  }
@media only screen and (max-width: 450px) {
    #tedlogo{
        width: 250px;
    }
    .logo{
        padding-left: 25px;
    }
    .toggle-menu{
        margin-left: 1rem;
    }
}